*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: work sans;
}
body{
    background-color: #F7F8F4;
}
   
#page1{
    height: 100%;
    width: 100%;
  
   
}
#nav{
    height: 5.5vw;
    width: 100%;
    
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}
#nav1{
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: space-between;
   
}
#nav1 h4{
    font-size: 15px;
    font-weight: 500;
}
#nav2{
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    
    gap: 1.5vw;
}
#nav2 button{
    padding: 10px 10px;
    font-weight: 600;
}
#nav2 button:nth-child(1){
    border: none;
    background-color: transparent;
}
#nav2 button:nth-child(2){
    border-radius: 30px;
    background-color: black;
    color: white;
}


#nav img{
    height: 7vw;
}
#center{
    height: calc(100% - 5.5vw);
    width: 100%;
    padding: 8vh 0;
}
#center h3{
    font-size: 0.9vw;
    background-color: #F2B0EA;
    color: rgb(42, 42, 42);
    padding: 0.6vw 1.2vw;
    width: fit-content;
    border-radius: 50px;
    font-weight: 600;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#center h1{
    margin-top: -1vw;
    font-size: 3.8vw;
    text-align: center;
    justify-content: center;
    padding: 1.8vw;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 4vw;
    font-family: playfair display;
}
#center h4{
    font-size: 1.1vw;
    text-align: center;
    font-weight: 500;
    margin-top: -0.8vw;
}
#center button{
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    font-size: 0.9vw;
    padding: 0.9vw 0.8vw;
    margin-top: 2vw;
    background-color: black;
    color: whitesmoke;
    border-radius: 50px;
}
#bottom{
    margin-top: 1vw;
    padding: 1vw;
    height: 22vw;
    width: 100%;
   
    white-space: nowrap;
    overflow-x:auto;
    overflow-y: hidden;
     
    border-radius: 40px;
   
}
.elem{
    margin-right: 20px;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 17vw;
    background-color: bisque;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: move;
    overflow: hidden;
    border-radius: 40px;
}
.elem img{
    height: 100%;
    width: 100%;
    object-position:center;
    object-fit: cover;
}
.elem video{
    height: 100%;
    width: 100%;
    object-position:center;
    object-fit: cover;
}
.elem .text{
    height: 25%;
    width: 100%;
    background-color: transparent;
    bottom: 0;
    position: absolute;
    color: rgb(246, 237, 237);
    padding: 1vw;
    margin-bottom: 0.5vw;
}

.text h5{
    font-weight: 500;
    bottom: 0;
    
    padding: 0.5vw;
}
#bottom::-webkit-scrollbar{
    display: none;
}
#page2{
    height: 100%;
    width: 100%;
    /* background-color: #F2B0EA; */
    padding: 4vw;
    position: relative;
    margin-top: 2vh;
    
}
#page2 h1{
    margin-left: 27vw;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 6vw;
    padding: 1vw 2vw;
    background-color: rgba(0, 0, 0, 0.042);
    width: fit-content;
    border-radius: 40px;
}
.box{
    height: 17vw;
    width: 20vw;
    /* background-color: aqua; */
    border-radius: 15px;
    overflow: hidden ;
    position: relative;
    display: inline-block;
    margin-right: 2vw;
    margin-bottom: 3.5vw;
}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box:hover{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.481);
}
.box-bottom{
    height: 35%;
    width: 100%;
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.651));
    position: absolute;
   bottom: -35%;
   transition: all ease 0.2s;
   color: #F7F8F4;
   display: flex;
   font-size: 18px;
   align-items: center;
   justify-content: space-between;
   padding: 1vw;
   font-weight: 400;
}
.box-bottom h5{
    font-weight: 500;
    font-size: 15px;
}
.box:hover .box-bottom{
    bottom: 0;
}
.box-bottom i{
    background-color: #F7F8F4;
    color: black;
    padding: 0.5vw;
    border-radius: 50%;
    font-size: 15px;
}
@media (max-width : 600px) {
    #page1{
    height: 62%;
    width: 100%;
  
   
}
#nav{
    margin-top: 15vw;
    margin-bottom: 3vw;
    height: 3vw;
    width: 100%;
    
    display: list-item;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}
#nav1{
    width: 100%;
    align-items: center;
    /* display :flex; */
    justify-content: space-between;
    gap: 5vw;
    margin-top: 5vw;
}
#nav1 h4{
    font-size: 11px;
    font-weight: 500;
    margin-top: 2vw;
}
#nav2{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    
    gap: 0vw;
}
#nav2 button{
    padding: 6px 6px;
    font-weight: 600;
    font-size: 9px;
    transform: translateY(-320%);

}
#nav2 button:nth-child(1){
    border: none;
    background-color: transparent;
    margin-top: -20px;
}
#nav2 button:nth-child(2){
    border-radius: 30px;
    background-color: black;
    color: white;
}


#nav img{
    height: 19vw;
    margin-top: -50vw;
    margin-right: 0vw;
    transform: translateX(0%);
    transform: translateY(-40%);

    position: relative;
}
#center{
    height: calc(100% - 5.5vw);
    width: 100%;
    padding: 4vh 0;
}
#center h3{
    font-size: 3vw;
    background-color: #F2B0EA;
    color: rgb(42, 42, 42);
    padding: 0.6vw 1.2vw;
    width: fit-content;
    border-radius: 50px;
    font-weight: 600;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}
#center h1{
    margin-top: 2vw;
    font-size: 7vw;
    text-align: center;
    justify-content: center;
    padding: 1.8vw;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 8vw;
    font-family: playfair display;
}
#center h4{
    font-size: 2vw;
    text-align: center;
    font-weight: 500;
    margin-top: -0.8vw;
}
#center button{
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    font-size: 2vw;
    padding: 0.9vw 0.8vw;
    margin-top: 2vw;
    background-color: black;
    color: whitesmoke;
    border-radius: 50px;
    width: 20%;
}
#bottom{
    margin-top: 5vw;
    padding: 1vw;
    height: 50vw;
    width: 100%;
   
    white-space: nowrap;
    overflow-x:auto;
    overflow-y: hidden;
     
    border-radius: 2px;
   
}
.elem{
    margin-right: 20px;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 50vw;
    background-color: bisque;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: move;
    overflow: hidden;
    border-radius: 40px;
}
.elem img{
    height: 100%;
    width: 100%;
    object-position:center;
    object-fit: cover;
}
.elem video{
    height: 100%;
    width: 100%;
    object-position:center;
    object-fit: cover;
}
.elem .text{
    height: 25%;
    width: 100%;
    background-color: transparent;
    bottom: 0;
    position: absolute;
    color: rgb(246, 237, 237);
    padding: 2vw;
    margin-bottom: 3vw;
    font-size: 12px;
}

.text h5{
    font-weight: 500;
    bottom: 0;
    
    padding: 0.5vw;
}
#bottom::-webkit-scrollbar{
    display: none;
}
#page2{
    height: 100%;
    width: 100%;
    /* background-color: #F2B0EA; */
    padding: 4vw;
    position: relative;
    margin-top: 0vh;
    
}
#page2 h1{
    margin-left: 20vw;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 7vw;
    padding: 1vw 2vw;
    background-color: rgba(0, 0, 0, 0.042);
    width: fit-content;
    border-radius: 40px;
}
.box{
    height: 35vw;
    width: 40vw;
    /* background-color: aqua; */
    border-radius: 15px;
    overflow: hidden ;
    position: relative;
    display: inline-block;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 3.5vw;
    /* justify-content: space-between; */
}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box:hover{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.481);
}
.box-bottom{
    height: 35%;
    width: 100%;
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.651));
    position: absolute;
   bottom: -35%;
   transition: all ease 0.2s;
   color: #F7F8F4;
   display: flex;
   font-size: 18px;
   align-items: center;
   justify-content: space-between;
   padding: 1vw;
   font-weight: 400;
}
.box-bottom h5{
    font-weight: 500;
    font-size: 10px;
}
.box:hover .box-bottom{
    bottom: 0;
}
.box-bottom i{
    background-color: #F7F8F4;
    color: black;
    padding: 1vw;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 1vw;
}
}





